<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Log your rig checks online.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="main-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{title}}</span>
            <div class="mdl-layout-spacer"></div>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="morebtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="morebtn">
                <li id="logout-btn" class="mdl-menu__item">Log Out</li>
            </ul>

        </div>
    </header>

    <div class="main-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="main-drawer-header"><img src="images/user.jpg" class="user-avatar">
            <div class="user-avatar-dropdown"><span>{{user.first}} {{user.last}}
                <br>{{user.email}}</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <nav class="main-navigation mdl-navigation mdl-color--blue-grey-800">
            <a href="/home" class="mdl-navigation__link" id="home-nav">
                <i role="presentation" class="mdl-color-text--blue-grey-400 material-icons">home</i>Home</a>
        </nav>

    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid main-content">

            <div id="user-{{user.id}}"
                 class="worksheet-card mdl-shadow--2dp mdl-color--white mdl-cell mdl-card mdl-cell--12-col">


                <div class="mdl-card__title mdl-card--expand mdl-color--blue-300">
                    <h3>Your Info</h3>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600 basicInfo">

                    <table>
                        <tr>
                            <td>Name:</td>
                            <td id="user-profile-firstlast">
                                {{{user.first}}}, {{{user.last}}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td id="user-profile-email">{{{user.email}}}</td>
                        </tr>
                        <tr>
                            <td>Username:</td>
                            <td id="user-profile-username">{{{user.username}}}</td>
                        </tr>
                        <tr>
                            <td>Phone:</td>
                            <td id="user-profile-phone">{{{user.phone}}}</td>
                    </table>
                </div>

                <div class="mdl-card__actions mdl-card--border ">

                    <form method="post" enctype="multipart/form-data" action="/upload">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>

                    <button id="edit-btn" class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <!--onclick='enableEdit({{id}})'-->
                        <i class="material-icons">edit</i>
                    </button>

                    <button id="upload-btn"
                            class="right mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons">file_upload</i>
                    </button>

                </div>
            </div>

            {{#each users}}

                <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--2dp">
                    <div class="mdl-card__title mdl-card--expand">
                        <h4>
                            {{this.first}} {{this.last}}<br>
                            {{this.role}}
                        </h4>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        {{this.phone}}
                    </div>
                </div>

            {{/each}}

        </div>
    </main>
</div>

<!-- logout dialog -->
<dialog class="logout-dialog mdl-dialog">
    <h4 class="mdl-dialog__title">Logout?</h4>
    <div class="mdl-dialog__content">
        <p>
            Are you sure you want to log out?
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button accept">Accept</button>
        <button type="button" class="mdl-button close">Cancel</button>
    </div>
</dialog>

<!-- Edit information dialog -->
<dialog class="edit-profile-dialog mdl-dialog" id="profile-edit-id">
    <h4 class="mdl-dialog__title">Edit Info</h4>
    <div class="mdl-dialog__content">
        <p>
            Please insert the following
        </p>

        <form id="form-edit-info" method="post">
            <!-- each div is it's own field -->
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="first-name"
                       id="tf-first" value="{{{user.first}}}">
                <label class="mdl-textfield__label" for="tf-first">First Name</label>
                <span id="tf-make-error" class="mdl-textfield__error">This cannot be empty!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="last-name"
                       id="tf-last" value="{{{user.last}}}">
                <label class="mdl-textfield__label" for="tf-last">Last Name</label>
                <span id="tf-make-error" class="mdl-textfield__error">This cannot be empty!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="email"
                       id="tf-email" value="{{{user.email}}}">
                <label class="mdl-textfield__label" for="tf-email">Email</label>
                <span id="tf-make-error" class="mdl-textfield__error">This cannot be empty!</span>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="phone"
                       id="tf-phone" value="{{{user.phone}}}">
                <label class="mdl-textfield__label" for="tf-phone">Phone</label>
                <span id="tf-make-error" class="mdl-textfield__error">This cannot be empty!</span>
            </div>
        </form>

    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button edit">Update</button>
        <button type="button" class="mdl-button closeEdit">Cancel</button>
    </div>
</dialog>

<!-- toast that shows info -->
<div id="toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

</body>

<script src="/vendor/jquery-2.2.3.min.js"></script>
<script src="/vendor/jquery.form.min.js"></script>
<script src="/vendor/bootstrap.min.js"></script>
<script src="/js/views/profile.js"></script>
<script src="/js/controllers/profileController.js"></script>
<script src="https://code.getmdl.io/1.2.1/material.min.js"></script>

</html>
